@font-face {
    font-family: 'Austerera';
    src: url(../fonts/AusteraText-Bold.ttf);
    font-style: Bold;
}
@font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura\ Medium.otf);
    font-style: medium;
}

/***************** General variables & properties ******************/

:root{
    --body-background: #f7f4e6;
    --label: #763939;
    --futura-text: #606645;
    --input-text: #393937;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body-background);
    background-image: url(../images/escudo-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/******************* HEADER PROPERTIES *************/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    
}

header .img-mobile{
    width: 100%;
    height: auto;
    align-self: center;
}

header .img-desktop{
    display: none;
}

header p{
    width: 90%;
    min-width: 270px;
    margin-top: 12px;
    text-align: justify;
    align-self: center;
    font-family: 'futura';
    color: var(--futura-text);
    font-size: 10px;
}
/************** MAIN Propierties ***************/
main{
    width: 100%;
    height: auto;
}

/********************* LAND INFO SECTION ***********************/

.main-land-info{
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    margin-top: 12px;

}

.land-info-chart{

    font-family: 'austerera';
    text-transform: uppercase;
    width: 90%;
    min-width: 270px;
    margin: auto auto;
    height: 450px;
    color: var(--body-background);
    border: 2px solid var(--label);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 120px auto;
    overflow: hidden;
    background: none;
}

/********************LABEL & INPUTS PROPIERTIES *******************/

.concept{
    width: auto;
    height: auto;
    display: grid;
    align-content: center;
    border: none;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    border-bottom: 1px solid var(--body-background);
    background-color: var(--label);
    
   
}

.land-info-chart input{
    text-transform: uppercase;
    width: 100%;
    height: auto;
    font-family: 'austerera';
    color: var(--input-text);
    border: none;
    border-bottom: 1px solid var(--input-text);
    font-size: 12px;
    background-color: transparent;
}